.meta-header {
    background: #000000;
    color: #FFF;
    font-size: 14px;
    height: 60px;
    text-transform: uppercase;
}

.meta-item {
    margin-right: 30px;
}

.meta-label {
    color: #71FFFF;
}

.exchange-pair {
    font-weight: bold;
}

.exchange-columns > div:first-child,
.exchange-columns > div:last-child {
    background-color: #002B33;
    padding-top: 20px;
}

.chart-col {
    background-color: #181F1F;
}
