.kyc-box {
    background: #FFF;
}

.kyc-box p {
    font-size: 16px;
}

.upload-box {
    border: 3px dashed #E6E6E6;
    color: #A0A0A0;
    font-size: 50px;
    height: 250px;
    position: relative;
    width: 250px;
}

.upload-box font-awesome-icon {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.verified-label {
    color: #CCC;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin-left: 5px;
    vertical-align: middle;
}

.verified-label.highlight {
    color: #21BE3D;
}
