@font-face {
    font-family: main-font-bold;
    src: url("../fonts/main-font-bold-c.woff");
    font-display: fallback;
}
.route--tokens {
    color: #333;
}

.tokenIcon {
    width: 24px;
    height: 24px;
}

.changePercentCol .red,
.changePercentCol .green {
    font-weight: bold;
}

.changePercentCol .red {
    color: red;
}

.changePercentCol .green {
    color: green;
}
.greenBtn {
    padding: .5rem 3rem;
    background-color: #21be3d;
    color: #fff !important;
    font-weight: bold;
    font-family: main-font-bold !important;
    font-size: 16px;
    border-radius: 0.25rem;
    border: none;
}
.greenBtn:hover {
    background-color: #1eac38;
}
.redBtn {
    padding: .5rem 3rem;
    background-color: #ca0505 !important;
    color: #fff !important;
    font-weight: bold;
    font-family: main-font-bold !important;
    font-size: 16px;
    /* line-height: 2.5; */
    border-radius: 0.25rem;
    border: none;
}
.redBtn:hover {
    background-color: #e42020 !important;
}
.blueBtn {
    padding: .5rem 3rem;
    background-color: #0048b3 !important;
    color: #fff !important;
    font-weight: bold;
    font-family: main-font-bold !important;
    font-size: 16px;
    /* line-height: 2.5; */
    border-radius: 0.25rem;
    border: none;
}
.blueBtn:hover {
    background-color: #0147af !important;
}
