.meta {
    font-size: 12px;
    margin: 0;
}
.user-header {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;
}
.user-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 450px;
    z-index: -1;
}
.header-row {
    background: rgba(277, 277, 277, 0.8);
    width: 40%;
    border-radius: 12px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 40px;
}
.header-text {
    margin: auto;

}

h1 {
    color: blue;
}
.header-text-desc {
    margin: 0;
}
.user-info {
    display: flex;
    justify-content: space-evenly;
}
.info {
    color: #000;
}
.user-summary {
    margin-bottom: 20px;
}
.nice-border {
    border-bottom: 4px solid #11111194;
    padding: 5px 0 10px;
    margin-bottom: 20px;
}
.owner-info {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.owner-info-header {
    color: #757575;
}
.owner-image {
    width: 60%;
    border-radius: 50%;
    border: 1px dashed #0048b3;
    align-self: center;
}
.owner-name {
    align-self: center;
    margin: 0;
    font-size: large;
}
.about-user {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.about-user span {
    font-size: small;
    display: inline-block;
    color: #757575;
    padding: 3px;
    white-space: pre-line;
}
.social {
    align-self: center;
}
.social-icon {
    width: 25px;
}

.showroom-header h2 {
    color: #0048b3;
}

.showroom-cards {
    display: block;
}

.showroom-head-panel {
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
    padding: 0 30px;
    margin-top: 10px;
    /* background-color: #edeef0; */
}

.radio {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: #fff;
}

.form-radiobox-title:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 16px;
    height: 16px;
    z-index: 2;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-radius: 16px;
}

.sold-by {
    padding: 12px;
    margin-right: 20px;
}

.sort-by {
    padding: 7px;
}

.sold-by-who {
    font-weight: 700;
}

.who {
    color: #0c111a;
    margin-right: 6px;
    vertical-align: middle;
}

.showroom-card {
    /* padding: 10px; */
    background-color: #fff;
    border-radius: 5px;
    /* margin-right: 15px; */
    margin-bottom: 10px;
    margin-right: 8px;
    box-shadow: 0 2px 4px rgba(204, 207, 216, 0.486);
    border: 1px solid #fff;
}

.slick-prev:before {
    content: '←';
    color: blue;
}

.showroom-card-body {
    padding: 10px;
}

.showroom-slick-card-body {
    padding: 0;
}

.showroom-card-footer {
    padding-bottom: 8px;
}

.showroom-card p {
    margin-bottom: 0;
}

.showroom-img {
    width: 100%;
    min-height: 230px;
    image-rendering: optimizeQuality;
}

.showroom-card-pfa {
    display: flex !important;
    margin-top: 12px;
    margin-bottom: 20px;
}

.showroom-pfa {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-content: center;
}

.rate-nft {
    color: #0048b3;
    /* -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #0048b3; */
}

.what {
    text-transform: capitalize;
    color: #0048b3 !important;
}

.heart-icon {
    margin-left: auto;
    outline: #0048b3;
    font-size: 24px;
}

.showroom-row {
    /* margin: 5%; */
    margin-bottom: 2%;
    display: flex;
}

.showroom-title {
    text-transform: uppercase;
    font-size: 1rem;
    color: rgb(36, 32, 32);
}

.showroom-desc {
    font-size: 0.75rem;
    line-height: 1.5;
    color: #6a6a6a;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    display: -webkit-box;
}

.project-category {
    margin: 15px auto;
}

.showroom-goal {
    font-size: 12px;
    color: #6a6a6a;
}

.time-left {
    margin-top: 12px;
}

.time-left-span {
    font-size: 0.65rem;
    line-height: 1.5;
    color: #6a6a6a;
}

.disclaimer-text {
    margin-top: 50px;
    margin-bottom: -20px;
    font-size: 16px;
}



.cat-card {
    background: white;
    border: 1px solid #eee;
    border: none;
}

.cat-card:nth-child(2) {
    background: white;
    border: 1px solid #eee;
    margin-top: 15px;
}

.cat-card:nth-child(3) {
    background: white;
    border: 1px solid #eee;
    margin-top: 15px;
}

.cat-card-header {
    padding: 12px 20px;
    /* background: #edeef0; */
    /* border-radius: 10px 10px 0 0; */
}

.cat-card-header h4 {
    margin-bottom: 0px !important;
    color: #757575;
}

.cat-card-body {
    padding: 2px;
}

.cat-card-items {
    list-style: none;
    margin-bottom: 0;
    padding: 2px;
}

.cat-card-item {
    padding: 12px 20px;
    color: #212529;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.095);
}

.cat-card-item:last-child {
    border: none;
}

.margin-btm {
    margin-bottom: 20px;
}

.now-price {
    font-size: 32px;
    display: block;
    color: #0048b3;
    margin-top: 10px;
}

.init-price {
    /* text-decoration: line-through; */
    font-size: 18px;
}

.buyBtn {
    border-color: #c60;
    background: #0048b3;
    color: #fff!important;
    padding: 2px 1.95em;
    margin-top: 10px;
    outline: 0;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    font-size: 12px;
    font-stretch: condensed;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    .hide-sm {
        display: none;
    }
    .headImg {
        display: none;
    }
    .showroom-card {
        margin-right: 0;
    }
    .register-header {
        padding: 20px;
    }
    .title {
        padding: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .hide-sm {
        display: none;
    }
    .register-header {
        padding: 20px;
    }
    .headImg {
        margin: 40px 0 100px;
    }
    .showroom-card {
        margin-right: 0;
    }
}
