<template>
    <h4 class="balances-heading">${'Balances' & t}</h4>

    <div class="form-group">
        <label class="balance-label d-block"
            >${'STEEM' & t}(${'Pegged' & t})
            <button
                type="button"
                class="btn-link float-right"
                click.delegate="deposit()"
            >
                ${'Deposit' & t}
            </button></label
        >
        <div class="input-group">
            <input
                class="form-control form-control-dark text-right"
                type="text"
                placeholder="0.000"
                value.bind="steempBalance | comma"
                readonly
            />
            <div class="input-group-append" style="padding:0;">
                <div class="input-group-text input-group-text-dark">
                    ${'STEEMP' & t}
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="balance-label d-block">${data.name & t}</label>
        <div class="input-group">
            <input
                class="form-control form-control-dark text-right"
                type="text"
                placeholder="0.000"
                value.bind="tokenBalance"
                readonly
            />
            <div class="input-group-append" style="padding:0;">
                <div class="input-group-text input-group-text-dark">
                    ${data.symbol & t}
                </div>
            </div>
        </div>
    </div>
</template>
