<template>
    <div class="nav nav-tabs order-buttons" id="nav-tab" role="tablist">
        <a
            href="javascript:void(0);"
            class="nav-item nav-link btn-link btn-buy"
            id="buy-tab"
            click.delegate="mode = 'buy'"
            >${'Buy' & t}</a
        >
        <a
            href="javascript:void(0);"
            class="nav-item nav-link btn-link btn-sell"
            id="sell-tab"
            click.delegate="mode = 'sell'"
            >${'Sell' & t}</a
        >
    </div>

    <div class="form-group">
        <label class="balance-label font-12-no-margin d-block">
            ${'Price' & t}            
        </label>
        
        <div class="input-group">
            <input class="form-control form-control-dark text-right"
                   type="text"
                   placeholder.one-time="0.000"
                   value.bind="price & validate" />
            <div class="input-group-append">
                <div class="input-group-text input-group-text-dark">
                    ${'STEEMP' & t}
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="balance-label font-12-no-margin d-block">
            ${'Quantity' & t}  
            <button type="button" class="btn-link float-right au-target" click.delegate="maxBuySell()" au-target-id="114">
                MAX
            </button>
        </label>
        <div class="input-group">
            <input class="form-control form-control-dark text-right"
                   type="text"
                   placeholder="0.000"
                   value.bind="quantity & validate" />
            <div class="input-group-append">
                <div class="input-group-text h-100 input-group-text-dark">
                    ${data.symbol & t}
                </div>
            </div>            
        </div>
    </div>

    <div class="form-group">
        <p class="no-margin">${total} ${'STEEMP' & t}</p>
    </div>

    <div class="form-group">
        <button
            type="button"
            class="btn ${mode == 'buy' ? 'btn-buy' : 'btn-sell'} btn-wide"
            click.delegate="confirmButtonPressed()"
        >
            ${mode == 'buy' ? 'Buy' : 'sell' & t}
        </button>
    </div>
</template>
