<template bindable="loading, sellBook">
    <div class="table-wrapper">
        <loader loading.bind="loading" mode="tiny"></loader>

        <table class="sell-table">
            <thead>
                <tr>
                    <th width="135">${'Price' & t} (STEEMP)</th>
                    <th>${'QTY' & t} (ENG)</th>
                    <th>${'Total' & t} (STEEMP)</th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="order of sellBook | slice:10:true">
                    <td>${order.price}</td>
                    <td>${order.quantity}</td>
                    <td>${order.amountLocked | toFixed:6}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
