.meta-header {
    background: #0048b3;
    color: #fff;
    font-size: 14px;
    height: 60px;
    text-transform: uppercase;
}

.meta-item {
    margin-right: 30px;
}

.meta-label {
    color: #FFF;
    font-weight: bold;
}

.exchange-pair {
    font-weight: bold;
}
