<template bindable="token">
    <header class="meta-header">
        <div class="container-fluid h100">
            <div class="h100 row align-items-center justify-content-between">
                <div class="col col-1 exchange-pair">${'STEEMP' & t}/${token.symbol}</div>
                <div class="col">
                    <div class="d-flex align-items-center justify-content-start">
                        <div class="meta-item">
                            <span class="meta-label">${'LAST PRICE' & t}: </span>
                            <span class="meta-value">${token.lastPrice} ${'STEEM'} / ${token.lastPrice | usdFormat:3}</span>
                        </div>
                        <div class="meta-item">
                            <span class="meta-label">${'24H' & t}: </span>
                            <span class="meta-value positive">+8.24%</span>
                        </div>
                        <div class="meta-item">
                            <span class="meta-label">${'HIGH' & t}: </span>
                            <span class="meta-value">${token.highestBid}</span>
                        </div>
                        <div class="meta-item">
                            <span class="meta-label">${'LOW' & t}: </span>
                            <span class="meta-value">${token.lowestAsk}</span>
                        </div>
                        <div class="meta-item">
                            <span class="meta-label">${'VOLUME' & t}: </span>
                            <span class="meta-value">${token.volume}</span>
                        </div>
                    </div>
                </div>
                <div class="col col-3 text-right">
                    <button type="button" class="outline-btn positive" click.delegate="deposit()">${'Deposit' & t}</button>
                    <button type="button" class="outline-btn negative" click.delegate="withdraw()">${'Withdraw' & t}</button>
                </div>
            </div>
        </div>
    </header>
</template>
