.meta-header {
    background: #0048b3;
    color: #fff;
    font-size: 14px;
    height: 60px;
    text-transform: uppercase;
}
.mobile {
    display: none;
}

.meta-item {
    margin-right: 30px;
}

.meta-label {
    color: #fff;
    font-weight: bold;
}

.exchange-pair {
    font-weight: bold;
}
@media only screen and (max-device-width: 480px) {
    .hide-lg {
        display: none;
    }
    .mobile {
        display: block;
    }
    .metric-item-label {
        color: #0048b3;
    }
    .metric-item-value {
        color: #0048b3;
    }
    .blueBtn {
        padding: 0.5rem 2.5rem;
        background-color: #0048b3 !important;
        color: #fff !important;
        font-weight: bold;
        font-family: main-font-bold !important;
        font-size: 14px;
        /* line-height: 2.5; */
        border-radius: 0.25rem;
        border: none;
        margin-right: 8px;
    }
    .blueBtn:hover {
        background-color: #0147af !important;
    }
    .redBtn {
        padding: 0.5rem 2.5rem;
        background-color: #ca0505 !important;
        color: #fff !important;
        font-weight: bold;
        font-family: main-font-bold !important;
        font-size: 14px;
        /* line-height: 2.5; */
        border-radius: 0.25rem;
        border: none;
        margin-right: 8px;
    }
    .redBtn:hover {
        background-color: #e42020 !important;
    }
    .sm-btn-group {
        display: flex;
        text-align: center;
        margin-top: 8px;
    }
    .m1 {
        margin-left: auto;
    }
    .m2 {
        margin-right: auto;
    }
}
@media only screen and (max-device-width: 768px) {
    .hide-lg {
        display: none;
    }
    .mobile {
        display: block;
    }
    .metric-item {
        display: flex;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
    .metric-item-label {
        color: #0048b3;
    }
    .metric-item-value {
        color: #0048b3;
    }
    .blueBtn {
        padding: 0.5rem 2.5rem;
        background-color: #0048b3 !important;
        color: #fff !important;
        font-weight: bold;
        font-family: main-font-bold !important;
        font-size: 14px;
        /* line-height: 2.5; */
        border-radius: 0.25rem;
        border: none;
        margin-right: 8px;
    }
    .blueBtn:hover {
        background-color: #0147af !important;
    }
    .redBtn {
        padding: 0.5rem 2.5rem;
        background-color: #ca0505 !important;
        color: #fff !important;
        font-weight: bold;
        font-family: main-font-bold !important;
        font-size: 14px;
        /* line-height: 2.5; */
        border-radius: 0.25rem;
        border: none;
        margin-right: 8px;
    }
    .redBtn:hover {
        background-color: #e42020 !important;
    }
    .sm-btn-group {
        display: flex;
        text-align: center;
        margin-top: 8px;
        border-top: 1px dashed rgb(247, 247, 247);
    }
    .m1 {
        margin-left: auto;
    }
    .m2 {
        margin-right: auto;
    }
}
