<template bindable="trades">
    <div class="history">
        <table class="buy-table table-striped">
            <thead>
                <tr>
                    <th width="135">${'Price' & t} (STEEMP)</th>
                    <th>${'QTY' & t} (ENG)</th>
                    <th>${'Time' & t}</th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="trade of trades | slice:10">
                    <td>${trade.price}</td>
                    <td>${trade.quantity}</td>
                    <td>${trade.timestamp_string}</td>
                </tr>
            </tbody>
        </table>
</div>
</template>
