<template>
    <section class="showroom">
        <div class="showroom-row">
            <div class="col-lg-2 col-md-12 col-sm-12 hide-sm">
                <div class="card cat-card">
                    <div class="cat-card-header">
                        <h4>Categories</h4>
                    </div>
                    <div class="cat-card-body">
                        <ul class="cat-card-items">
                            <li class="cat-card-item"><a href="">Sports</a><span class="float-right">(189)</span></li>
                            <li class="cat-card-item"><a href="">Social</a><span class="float-right">(200)</span></li>
                            <li class="cat-card-item">
                                <a href="">Photography</a><span class="float-right">(100)</span>
                            </li>
                            <li class="cat-card-item"><a href="">Finance</a><span class="float-right">(89)</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-sm-12 col-md-12">
                <div class="row margin-btm" ref="tokenTable">
                    <div class="col-md-4 col-sm-12" repeat.for="token of state.nfts">
                        <div class="showroom-card">
                            <div class="showroom-card-img  text-center">
                                <a route-href="route: nft-detail; params.bind: { symbol: token.symbol }"
                                    ><img
                                        src="../../../../images/nft-placeholder.svg"
                                        alt="showroom image"
                                        class="showroom-img"
                                /></a>
                            </div>
                            <div class="showroom-card-body">
                                <div class="showroom-pfa">
                                    <p class="what">
                                        ${token.symbol}
                                    </p>
                                    <!-- <span class="rating-wrap" style="margin-left: 20px;">
                                        <span
                                            ><font-awesome-icon
                                                icon.bind="['fas', 'star']"
                                                class="rate-nft"
                                            ></font-awesome-icon
                                        ></span>
                                        <span
                                            ><font-awesome-icon
                                                icon.bind="['fas', 'star']"
                                                class="rate-nft"
                                            ></font-awesome-icon
                                        ></span>
                                        <span
                                            ><font-awesome-icon
                                                icon.bind="['fas', 'star']"
                                                class="rate-nft"
                                            ></font-awesome-icon
                                        ></span>
                                        <span
                                            ><font-awesome-icon
                                                icon.bind="['fas', 'star']"
                                                class="rate-nft"
                                            ></font-awesome-icon
                                        ></span>
                                        <span
                                            ><font-awesome-icon
                                                icon.bind="['fas', 'star']"
                                                class="rate-nft"
                                            ></font-awesome-icon
                                        ></span>
                                        <span
                                            ><font-awesome-icon
                                                icon.bind="['fas', 'star']"
                                                class="rate-nft"
                                            ></font-awesome-icon
                                        ></span>
                                    </span> -->
                                </div>
                                <h4 class="showroom-title">
                                    ${token.name}
                                </h4>

                                <p class="project-category">${token.issuer}</p>
                                <div class="showroom-pf">
                                    <p class="showroom-goal">
                                        Max Supply:
                                        <span class="init-price"
                                            >${token.maxSupply == 0 ? 'Infinite' : token.maxSupply}</span
                                        >
                                        <br />
                                        <template if.bind="token.orders.length">
                                            now trading @
                                            <span class="now-price"
                                                >${token.orders[0].price} ${token.orders[0].priceSymbol}</span
                                            >
                                        </template>
                                        <a
                                            route-href="route: nft-detail; params.bind: { symbol: token.symbol };"
                                            class="buyBtn"
                                            >GET</a
                                        >
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
