.main-header {
    background-color: #00193f;
}
.main-head {
    margin-bottom: 30px;
}
.head-container {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.make-flex {
    display: flex;
    align-content: center;
    justify-content: center;
}
.actionButtons {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    color: rgba(0,0,0,.6);
    font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
}
.color-white {
    color: #fff;
}
.tokenIcon {
    width: 24px;
    height: 24px;
}
button:focus {
    outline: none!important;
}
.table-buttons {
    display: flex;
}

.table-buttons a {
    margin-right: 10px;
}

.table-buttons a:last-child {
    margin-right: 0;
}
.greenBtn {
    padding: .5rem 3rem;
    background-color: #21be3d;
    color: #fff !important;
    font-weight: bold;
    font-family: main-font-bold !important;
    font-size: 16px;
    border-radius: 0.25rem;
    border: none;
}
.greenBtn:hover {
    background-color: #1eac38;
}
.redBtn {
    padding: .5rem 3rem;
    background-color: #ca0505 !important;
    color: #fff !important;
    font-weight: bold;
    font-family: main-font-bold !important;
    font-size: 16px;
    /* line-height: 2.5; */
    border-radius: 0.25rem;
    border: none;
}
.redBtn:hover {
    background-color: #e42020 !important;
}
