.banner-block {
    position: relative;
    background-image: url("../images/main-header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}
.overlay {
    background: rgba(4, 3, 20, 0.8);
}

.banner-content {
    height: 100vh;
    padding: 50px 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.banner-logo {
    margin-top: -30px;
}
.banner-header {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.banner-content h2 {
    font-weight: 700;
    color: #fff !important;
    margin-bottom: 30px;
}

.banner-content p {
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 57px;
}

.banner-content-btn {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
.banner-button {
    margin: 4px;
}

.banner-btn {
    border-radius: 3px;
    color: white;
    font-size: 25px;
    width: 216px;
    margin-top: 4px;
    padding: 8px 22px;
    border: 1px solid rgb(211, 205, 205);
}

.btn-view-markets {
    background-color: #0048b3;
    color: white;
}
.btn-view-markets:hover {
    background-color: #042475;
    color: white!important;
}
.btn-get-started {
    background-color: #21be3d;
    color: #fff;
    margin-right: 28px;
}
@media only screen and (max-device-width: 480px) {
    .btn-get-started {
        margin-right: 0!important;
        margin-bottom: 12px;
    }
}
@media only screen and (max-device-width: 769px) {
    .btn-get-started {
        margin-right: 0!important;
        margin-bottom: 12px;
    }
}

.banner-content .subs-form .input-box {
    max-width: 570px;
    position: relative;
    margin: 0 auto;
}

.banner-content .subs-form input {
    border: none;
    height: 55px;
    padding: 0 175px 0 25px;
    background: #fff;
}

.banner-content .subs-form input:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.banner-content .subs-form button {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 170px;
    height: 55px;
    background: #1652f0;
    color: #fff;
    border: none;
    outline: 0;
    box-shadow: none;
    font-weight: 700;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
}

.banner-content .subs-form button:active,
.banner-content .subs-form button:focus {
    border: none;
    outline: 0;
    box-shadow: none;
}
