.btn {
    font-family: "main-font", sans-serif;
}

.btn-primary {
    background-color: rgb(32, 39, 53);
    border: none;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-primary:not(:disabled):hover {
    background-color: rgb(41, 50, 69);
}

.btn-secondary {
    border: none;
    background-color: #3e4b67;
}

.outline-btn {
    appearance: none;
    background: none;
    border-width: 1px;
    line-height: 1;
    margin: 0;
    padding: 7px 25px;
    text-transform: uppercase;
}

.outline-btn.white {
    color: #fff;
    border-color: #fff;
}

.outline-btn.positive {
    border-color: $positive;
}

.outline-btn.negative {
    border-color: $negative;
}

.btn-link {
    background: none;
    border: none;
    color: #0048b3;
    font-size: 12px;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: underline;
    text-transform: uppercase;
}

.btn-buy,
.btn-sell {
    font-size: 20px;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
}

.btn-buy,
.btn-buy:hover,
.btn-buy:focus {
    background-color: #00955c;
    color: #fff;
}

.btn-sell,
.btn-sell:hover,
.btn-sell:focus {
    background-color: rgba(190, 60, 0, 0.5);
    color: #be4200;
}

.btn-buy.btn-link {
    background: none;
    color: #00955c;
    padding: 0;
}

.btn-sell.btn-link {
    background: none;
    color: #be4200;
    padding: 0;
}

.btn-wide {
    display: block;
    width: 100%;
}

.btn-icon {
    background: transparent;
    border: none;
    box-shadow: none;
}

.btn-favourite,
.btn-favourite:hover {
    color: #adadad;
}

.btn-favourite:focus {
    box-shadow: none;
}

.btn-favourite.active {
    color: #0048b3;
}

.greenBtn {
    /*padding: .5rem 3rem;*/
    background-color: #21be3d;
    color: #fff !important;
    font-weight: bold;
    font-family: main-font-bold !important;
    font-size: 16px;
    line-height: 2.5;
    border-radius: 0.25rem;
    min-width: 76px;
}
.greenBtn:hover {
    background-color: #1eac38;
}
.seeBtn {
    padding: .5rem 3rem;
    background-color: #21be3d;
    color: #fff !important;
    font-weight: bold;
    font-family: main-font-bold !important;
    font-size: 16px;
    line-height: 2.5;
    min-width: 76px;
}
.seeBtn:hover {
    background-color: #1eac38;
}
.seeMoreBtn {
    padding: .1rem .3rem;
    background-color: #21be3d;
    color: #fff !important;
    font-weight: bold;
    font-family: main-font-bold !important;
    font-size: 16px;
    line-height: 2.5;
    min-width: 76px;
    border: none;
    border-radius: 3px;
}
.seeMoreBtn:hover {
    background-color: #1eac38;
}

