@import './navbar.css';

body {
    background: #181F1F;
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 26px;
    color: #FFF;
    font-weight: 400;
    position: relative;
    text-rendering: optimizeLegibility;
}

html {
    height: 100%;
}

body {
   min-height: 100%;
}

.main-container {
    margin-top: 30px;
}

.route--exchange {
    background: #002B33;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    transition: 0.4s ease-in;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #797979;
    outline: 0;
}

p {
    line-height: 26px;
    font-size: 15px;
    margin-bottom: 30px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 12px;
}

.h100 {
    height: 100%;
    overflow: auto;
}

.h100vh {
    min-height: 100vh;
}

.h100-minus-header {
    min-height: calc(100vh - 40px);
}

--positive: #3CFFB5;

.positive {
    color: var(--positive);
}

.table-transparent {
    background: transparent;
}

.table-transparent td, 
.table-transparent th, 
.table-transparent thead th {
    border-color: rgba(255, 255, 255, 0.3);
    color: #FFF;
}

.table-transparent thead th {
    border-bottom-color: rgba(255, 255, 255, 0.1);
    border-top-color: rgba(255, 255, 255, 0.1);
}

@import "./bootstrap-modal.css";
@import "./signin.css";
