@import "./variables.css";
@import "./navbar.css";
@import "./bootstrap-modal.css";
@import "./signin.css";
@import "./buttons.css";
@import "./smallnav.css";

@font-face {
    font-family: main-font;
    src: url("../fonts/main-font-regular.woff");
}
@font-face {
    font-family: main-font-bold;
    src: url("../fonts/main-font-bold-c.woff");
}

body {
    background: #fefefe;
    font-family: "main-font", Roboto, Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-size: 15px;
    line-height: 26px;
    color: #fff;
    font-weight: 400;
    position: relative;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    transition: 0.4s ease-in;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #797979;
    outline: 0;
}

p {
    line-height: 26px;
    font-size: 18px;
    margin-bottom: 30px;
    color: rgba(3, 27, 78, 0.7);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "main-font-bold", Roboto, Helvetica, Arial, sans-serif;
    color: #0c111a;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 12px;
}

legend {
    color: #0c111a;
}

.main-header {
    border-bottom: 1px solid #424242;
    height: 250px;
}

.main-header > .main-container {
    height: 100%;
    margin-top: 0;
}

.main-container {
    margin-top: 30px;
    max-width: 1440px;
}

.route--exchange {
    background: #fff;
}

.h100 {
    height: 100%;
    overflow: auto;
}

.h100vh {
    min-height: 100vh;
}

.h100-minus-header {
    min-height: calc(100vh - 120px);
}

.positive {
    color: $positive;
}

.negative {
    color: $negative;
}

.tabs {
    height: 44px;
}

.tabs .active {
    color: #3489e7;
    border-bottom: 2px solid #3489e7;
}

.tabs__tab {
    color: #797979;
    text-align: center;
}

.form-control-transparent,
.form-control-transparent:focus {
    background: transparent;
    border: 1px solid #424242;
    border-radius: 3px;
}

.input-group-text-transparent {
    background: transparent;
    border-color: #424242;
    color: #fff;
}

.table-transparent {
    background: transparent;
}

.table-transparent td,
.table-transparent th,
.table-transparent thead th {
    border-color: rgba(255, 255, 255, 0.3);
    color: #fff;
}

.table-transparent thead th {
    border-bottom-color: rgba(255, 255, 255, 0.1);
    border-top-color: rgba(255, 255, 255, 0.1);
}

.table-dark td,
.table-dark th,
.table-dark thead th {
    background: #1c212a;
    border-color: #39455f;
    color: #fff;
}

.table-dark thead th {
    border-bottom: 1px solid #39455f;
    border-top: 0;
}

.table-dark tbody td {
    border-bottom: 1px solid #262e3f;
    border-top: 0;
}
