@import "./variables.css";
@import "./navbar.css";
@import "./bootstrap-modal.css";
@import "./signin.css";
@import "./buttons.css";

body {
    background: #181F1F;
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 26px;
    color: #FFF;
    font-weight: 400;
    position: relative;
    text-rendering: optimizeLegibility;
}

html {
    height: 100%;
}

body {
   min-height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    transition: 0.4s ease-in;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #797979;
    outline: 0;
}

p {
    line-height: 26px;
    font-size: 15px;
    margin-bottom: 30px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 12px;
}

.main-header {
    border-bottom: 1px solid #424242;
    height: 250px;
}

.main-header > .main-container {
    height: 100%;
    margin-top: 0;
}

.main-container {
    margin-top: 30px;
    max-width: 1440px;
}

.route--exchange {
    background: #181F1F;
}

.h100 {
    height: 100%;
    overflow: auto;
}

.h100vh {
    min-height: 100vh;
}

.h100-minus-header {
    min-height: calc(100vh - 120px);
}

.positive {
    color: $positive;
}

.negative {
    color: $negative;
}

.tabs {
    height: 44px;
}

.tabs .active {
    color: #3489E7;
    border-bottom: 2px solid #3489E7;
}

.tabs__tab {
    text-align: center;
}

.form-control-transparent,
.form-control-transparent:focus {
    background: transparent;
    border: 1px solid #424242;
    border-radius: 3px;
}

.input-group-text-transparent {
    background: transparent;
    border-color: #424242;
    color: #FFF;
}

.table-transparent {
    background: transparent;
}

.table-transparent td, 
.table-transparent th, 
.table-transparent thead th {
    border-color: rgba(255, 255, 255, 0.3);
    color: #FFF;
}

.table-transparent thead th {
    border-bottom-color: rgba(255, 255, 255, 0.1);
    border-top-color: rgba(255, 255, 255, 0.1);
}

.table-dark td,
.table-dark th,
.table-dark thead th {
    background: #1C212A;
    border-color: #39455f;
    color: #FFF;
}

.table-dark thead th {
    border-bottom: 1px solid #39455f;
    border-top: 0;
}

.table-dark tbody td {
    border-bottom: 1px solid #262e3f;
}
