ux-dialog-container,
ux-dialog-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

ux-dialog-overlay.active {
    background-color: #1F1F1F;
    opacity: .8;
}

ux-dialog-container {
    display: block;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: fit-content;
    height: fit-content;
    margin: auto;
    outline: 0;
    width: 300px;
}
ux-dialog {
    color: #FFF;
    display: table;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    padding: 3px;
    width: 95%;
    height: fit-content;
    margin: auto;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background: #003E49;
}
ux-dialog > ux-dialog-header {
    background: linear-gradient(280deg, #160033 0%, #008b80 51.72%, #00323e 100%);
    color: #FFF;
    display: block;
    font-size: 22px;
    font-weight: 300;
    padding: 16px;
    text-align: center;
    text-transform: uppercase;
}

ux-dialog > ux-dialog-header h2 {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: 1;
    margin: 0;
}

ux-dialog > ux-dialog-header > button {
    float: right;
    border: none;
    display: block;
    width: 32px;
    height: 32px;
    background: 0 0;
    font-size: 22px;
    line-height: 16px;
    margin: -14px -16px 0 0;
    padding: 0;
    cursor: pointer;
}

ux-dialog > ux-dialog-body {
    display: block;
    padding: 16px;
}

ux-dialog > ux-dialog-body a {
    color: #FFF;
}

ux-dialog > ux-dialog-footer {
    display: block;
    padding: 16px;
    text-align: right;
}

ux-dialog > ux-dialog-footer button {
    margin-right: 15px;
}

ux-dialog > ux-dialog-footer button:last-child {
    margin-right: 0;
}

.ux-dialog-open {
    overflow: hidden;
}

@media all and (min-width: 992px) {
    ux-dialog-container {
        width: 600px;
    }

    ux-dialog {
        min-width: 600px;
        width: fit-content;
    }
}
