ux-dialog-container,
ux-dialog-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

ux-dialog-overlay.active {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

ux-dialog-container {
    display: block;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: fit-content;
    height: fit-content;
    margin: auto;
    outline: 0;
    width: 300px;
    box-shadow: 0 20px 60px -2px rgba(27, 33, 58, 0.4) !important;
}
ux-dialog {
    color: #000;
    display: table;
    box-shadow: 0 20px 60px -2px rgba(27, 33, 58, 0.4) !important;
    border: none;
    border-radius: 5px;
    padding: 0;
    width: 100%;
    height: fit-content;
    margin: auto;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background: #fff;
}
ux-dialog > ux-dialog-header {
    background: linear-gradient(
        280deg,
        #0048b3 0%,
        #a1b9e7 511.72%,
        #0048b3 100%
    );
    color: #fff;
    display: block;
    font-size: 22px;
    font-weight: 300;
    padding: 16px;
    text-align: center;
    text-transform: uppercase;
}

ux-dialog > ux-dialog-header h2 {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: 1;
    margin: 0;
}

ux-dialog > ux-dialog-header > button {
    float: right;
    border: none;
    color: #fff;
    display: block;
    width: 32px;
    height: 32px;
    background: 0 0;
    font-size: 32px;
    line-height: 16px;
    margin: -7px -16px 0 0;
    padding: 0;
    cursor: pointer;
}

ux-dialog > ux-dialog-header > button:focus {
    outline: none;
}

ux-dialog > ux-dialog-body {
    display: block;
    padding: 16px;
    background: url("../images/se-standalone.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

ux-dialog > ux-dialog-body a {
    color: #0048b3;
}

ux-dialog > ux-dialog-footer {
    display: block;
    padding: 16px;
    text-align: right;
}

ux-dialog > ux-dialog-footer button {
    margin-right: 15px;
}
.greenBtns {
    margin-top: 0;
    width: 30%;

    padding: 0 !important;
    background-color: #0048b3;
    color: #fff !important;
    font-weight: bold;
    font-family: main-font-bold !important;
    font-size: 16px;
    line-height: 2.5;
    border-radius: 0.25rem;
    min-width: 76px;
    display: inline-block;
}
.greenBtns:hover {
    background-color: #080ba3;
}
.redBtn {
    margin-top: 0;
    padding: 0 !important;
    border: 1.5px solid #ca0505!important;
    color: #ca0505!important;
    font-weight: bold;
    font-family: main-font-bold !important;
    font-size: 16px;
    line-height: 2.5;
    border-radius: 0.25rem;
    min-width: 76px;
}
.redBtn:hover {
    background-color: #e4202009 !important;
}
ux-dialog > ux-dialog-footer button:last-child {
    margin-right: 0;
}

.ux-dialog-open {
    overflow: hidden;
}

@media all and (min-width: 992px) {
    ux-dialog-container {
        width: 600px;
    }

    ux-dialog {
        min-width: 600px;
        width: fit-content;
    }
}

.ux-dialog-open .note,
.ux-dialog-open .note p {
    color: #0048b3;
}

.input-group-append {
    padding-top: 6px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -1px;
    background: lightgray;
    color: black;
    min-width: 50px;
}
