.offering-banner {
    /* background-color: #f4f7f9; */
    background: #f4f7f9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0;
    margin: 0;
}
.header-img {
    margin-bottom: -50px;
    z-index: -2;
}
.header-illustration {
    padding: 50px 0;
}
/* .offering-banner-wrapper {
    background: linear-gradient(
        150deg,
        rgba(40, 20, 131, 0.534) 15%,
        rgba(143, 110, 213, 0.596) 70%,
        rgba(216, 130, 217, 0.541) 94%
    );
    padding: 50px 20px;
    height: 100%;
} */
.offering-header {
    margin-top: 30%;
}

.offering-header-title h1 {
    color: #0048b3;
    font-size: 46px;
}

.offering-header-desc h3 {
    color: #000;
    font-size: 24px;
}

.header-btns {
    display: flex;
}
.btn-learn-how,
.btn-get-started {
    padding: 5px;
}

section {
    /* margin-top: 50px; */
    padding: 30px 0px;
}
.div-wave {
    background: url("../images/div-wave.svg");
    height: 100%;
    transform: scaleY(-1);
    margin-top: -30px;
}
.blue-line {
    width: 10%;
    border-top: 3px solid rgb(166, 255, 0);
}
.divider {
    margin-top: 50px;
    margin-bottom: 50px;
}
@media only screen and (max-width: 468px) {
    .divider-xs {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
    .offering-header {
        margin-bottom: 30px;
        margin-top: 30px;
        text-align: center;
    }
    .btn-learn-how {
        margin-left: auto;
    }
    .btn-get-started {
        margin-right: auto;
    }
    .offering-banner {
        padding-top: 30px !important;
    }
    .section-btns {
        margin-bottom: 20px;
        text-align: center;
    }
    .offer-item {
        margin-bottom: 15px;
    }
    .section-header {
        text-align: center;
    }
    .section-desc {
        text-align: center;
    }
}
.no-margin-bottom {
    margin-bottom: 0 !important;
    margin-top: 50px;
}
@media only screen and (min-width: 767px) {
    .div-wave {
        height: 100px;
    }
}
.tribe {
    margin-top: 50px;
}
.greenBtn {
    /*padding: .5rem 3rem;*/
    background-color: #21be3d;
    color: #fff !important;
    font-weight: bold;
    font-family: main-font-bold !important;
    font-size: 16px;
    line-height: 2.5;
    border-radius: 0.25rem;
    min-width: 76px;
}
.greenBtn:hover {
    background-color: #1eac38;
}
.yellowBtn {
    /*padding: .5rem 3rem;*/
    background-color: #aa9c1c;
    color: #000 !important;
    font-weight: bold;
    font-family: main-font-bold !important;
    font-size: 16px;
    line-height: 2.5;
    border-radius: 0.25rem;
    min-width: 76px;
}
.yellowBtn:hover {
    background-color: #9ad330;
}

.tribe-feature-header {
    margin-bottom: 90px;
}
.tribe-feature-desc p {
    padding: 10px;
}
.tribe-feature-items {
    padding: 30px 10px;
}
.tribe-feature-items:hover {
    background-color: #f5faff;
    cursor: pointer;
}
.first-item {
    box-shadow: 0 3px 12px -2px rgba(0, 0, 0, 0.08);
}
.item-icon img {
    margin-top: 50%;
    width: 100%;
}

.item-desc p {
    font-size: 16px !important;
    margin-bottom: 0 !important;
    line-height: 1.87em;
}

.offer-item {
    transition: box-shadow 0.25s linear;
    /* margin: 50px; */
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 20px !important;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);
    text-align: center;
}
.offer-item:hover {
    box-shadow: 0 10px 20px rgba(3, 27, 78, 0.1);
    cursor: pointer;
}
.offer-item img {
    padding: 15px;
}
.offer-item h2 {
    margin: 7px 2px;
    font-size: 30px;
}
.offer-item p {
    margin-top: 7px;
}
.offer-item a {
    color: #0048b3 !important;
    font-size: 18px;
}
.offer-item a span:hover {
    color: #061833;
    text-decoration: underline;
}
.item-footer-link:hover .font-awesome-icons {
    color: #061833;
    padding-left: 4px;
    margin-left: 2px;
}
.font-awesome-icons {
    color: #0048b3;
    font-size: 12px;
    padding: 9px 0 0 -2px;
    transition: 0.1s all ease-out;
}

.join-now {
    background: #0048b3;
    padding: 50px 20px;
    margin-bottom: -100px;
}
.join-now h2 {
    color: #fff;
}
.join-now p {
    margin: 0 !important;
    color: #fff;
}
.join-btn {
    margin-top: 15px;
}

/* Special Modification */
