.tab {
    overflow: hidden;
    border-bottom: 1px solid #e8e8e8;
    margin-right: 5px;
    margin-left: 5px;
}

.tab a {
    background-color: inherit;
    color: #0048b3 !important;
    border: none;
    outline: none;
    cursor: pointer;
    width: 15%;
    height: 35px;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
    font-size: 18px;
}
@media only screen and (max-width: 468px) {
    .tab a {
        font-size: 8px;
    }
    .col-md-4 {
        margin-bottom: 14px;
    }
}
.tab a:hover {
    border-bottom: 2px solid #0048b3;
}
