.signin-text {
    color: #FFF;
    margin: 0 0 10px 0;
}

.auth-input {
    color: #00AAAA;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.keychain-btn {
    background-image: url(../images/icon_keychain.svg), linear-gradient(280deg, #20835E 0%, #005552 51.72%, #533C81 100%);
    background-position: 20px center, 0 0;
    background-repeat: no-repeat;
    border: none;
    color: rgba(255, 255, 255, 0.68);
    display: block;
    height: 56px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1;
    margin: 0 auto;
    padding: 0 0 0 82px;
    position: relative;
    text-transform: uppercase;
    width: 376px;
}

.auth-link {
    color: #76B9B9;
    display: block;
    font-size: 12px;
    text-align: right;
    text-decoration: underline;
}
