
.post-wrapper {
    margin-bottom: 15px;
}

.post-wrapper h4 {
    margin-top: 10px;
    color: #757575;
}
.post-card {
    background: white;
    border: 1px solid #eee;
    /* margin-top: 15px; */
    padding: 8px;
}
.no-padding {
    padding: 0;
}
.create-post-header {
    background: #f5f6f7;
    border-bottom: 1px solid #dddfe2;
    padding: 8px;
}
.create-post-header h4 {
    margin: 0;
    color: #757575;
}
.post-box-wrapper {
    border-bottom: 1px solid #dddfe2;
}
.post-box {
    border: none;
    /* margin-left: 40px; */
}
.post-box:focus {
    border: none;
    box-shadow: none;
}
.post-box-avatar {
    width: 50px;
    height: 50px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    border-radius: 50px;
    border: 1px dashed #555758;
}
.post-button-wrapper {
    display: flex;
}
.post-button {
    margin: 6px 6px 6px auto;
    color: #fff;
    padding: 3px 10px;
    background-color: #0048b3;
    border-radius: 5px;
}
.post-card-image {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
   
}
.post-card-img {
    height: 100%;
}
.post-card-head h4 {
    margin: 5px 0;
    font-size: 18px;
}
.post-card-desc {
    color: rgb(212, 211, 211);
    font-size: 14px;
    margin-bottom: 5px;
}
.view-link {
    color: rgb(175, 175, 175);
    text-decoration: underline;
    font-size: small;
}
.post-card-footer {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    border-top: 1px dashed #eee;
    display: flex;
}
.post-card-footer-item {
    padding: 0;
    margin: 0 8px 0 0;
}
.p-c-footer {
    color: rgb(212, 211, 211);
    font-size: 10px;
    margin-top: 15px;
}
