<template>
    <section class="showroom">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="create-post post-card no-padding">
                    <div class="create-post-header"><h4>Create Post</h4></div>
                    <div class="row">
                        <div class="col-2" style="display: flex;">
                            <img
                                src="https://img.icons8.com/color/48/000000/cardboard-box.png"
                                class="post-box-avatar"
                            />
                        </div>
                        <div class="col-10">
                            <div class="create-post-form">
                                <form action="">
                                    <div class="form-group" style="margin-bottom: 0;">
                                        <textarea
                                            class="form-control post-box"
                                            id="exampleFormControlTextarea1"
                                            rows="3"
                                            placeholder="Post an image and text in the markedown"
                                        ></textarea>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <hr style="margin: 0;" />
                    <div class="post-button-wrapper">
                        <a href="" class="post-button">Post</a>
                    </div>
                </div>
                <div class="post-wrapper">
                    <h4>My Feed</h4>
                    <div class="post-card">
                        <div class="post-card-image">
                            <img
                                src="../../../../../../images/collection-summary-placeholder.jpg"
                                width="100%"
                                alt=""
                                class="post-card-img"
                            />
                        </div>

                        <div class="post-card-head">
                            <h4>Italian Wallpapers for Sale</h4>
                        </div>
                        <div class="post-card-body">
                            <p class="post-card-desc">
                                Lorem ipsum dolor sit, amet consectetur<br />
                                <a class="view-link" href="">View full</a>
                            </p>
                        </div>
                        <div class="post-card-footer">
                            <div class="post-footer-left">
                                <div class="post-card-footer-item">
                                    <span class="footer-icon"
                                        ><img
                                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABmJLR0QA/wD/AP+gvaeTAAABNklEQVQ4jd3QsUsCYRjH8e/z6iB4FhrUmNLUnkRbQri1an+CVzi5B7W3RGL/gnOOLUER1OTgGB4IQgdBdUtd570NXXJ6KelWv+193uf5vA8v/NtI+JA9e9kUpU6ADeBJi24m/bdDLyHy8Z441lAGMsA94te65uJdBMo2nG3RXAKxkac0t0Hn1tgSnoYdaz91BRAfiprzCPIz8J14MLM+3Git4Sz7msfJPzA5Slh5MFO2AkgsGc+AO4fjBrMogE5JXA2tWRUNrU5J3CEEgHg1wJ7BsYMZRiDLTFsoKQL9XyB9lBQtM21FIIBuxWh7A5UHrqcgN95A5bsVox0uqvGuXjXZX7WNgmiOAD90pdGcZmJGoVdNRraW8UI4ufrrLiLNL0TvdQ8WLqb1T0227pRzDac0N/D38wnQkl+D/DTWTwAAAABJRU5ErkJggg=="
                                    /></span>
                                    <span class="p-c-footer">Like</span>
                                </div>
                                <div class="post-card-footer-item">
                                    <span class="footer-icon"
                                        ><img src="https://img.icons8.com/color/18/000000/topic.png"
                                    /></span>
                                    <span class="p-c-footer">Comments</span>
                                </div>
                                <div class="post-card-footer-item">
                                    <span class="footer-icon"
                                        ><img src="https://img.icons8.com/color/18/000000/retweet.png"
                                    /></span>
                                    <span class="p-c-footer">Share</span>
                                </div>
                            </div>
                            <div class="post-footer-right">
                                <div class="post-card-footer-item">
                                    <span class="footer-icon"
                                        ><img
                                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAABgklEQVQ4jc2TMWtTURTHfyd5mBvC7VSsQ0BIs2VQyCWLZFRo/SgZxCn9CO0oJeIXcIkuUrEuEggPefBels5uDmJwSgxBHpzTJU+S2BTBxf94uL8f5xzOhX+MbBcmk0lXVXsi0gX2gSkwVtVBp9P5vHrTbLfbXzYEo9Eo8t6fA09E5DTP80vv/XS5XN4DjoET4J2ZvRSRTyGEOkBUCLz35yJy3zn3oNVq/QTIssxCCAK8iuP4daVSeS8iV8CdgouKts3ssXPuYQFvp1qtHpjZ4Tr8W6CqvVKpdLYLBljNXN+ulwBEpJvn+eUu+LYUO9j33k+LYpZltgsYDoflRqPxK4QQrQt+LBaLA+ArwGpxN6bZbNZV9dv2CONyuXz0Ny2r6jEw3hCY2cDM+nEc+9vgJEn2gL6qDjYEIYQY+Oice7NLkiTJXhRFb0XkorhIWDuk+Xz+zHv/wjl3labpqZl9qNVq31eX+BToi8jFbDZ7vi7+Y1lpmj4SkR7QBe5yw1/4v3INFYmUvUanJogAAAAASUVORK5CYII="
                                    /></span>
                                    <span class="p-c-footer">Time: 8:00 CAT</span>
                                </div>
                                <div class="post-card-footer-item">
                                    <span class="footer-icon"
                                        ><img
                                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAABcUlEQVQ4je2RvWpUURSFv3VgBjJTiT+1BiFaRWcOCLfUSonkGUydgRBsTTID/lQiKSz1IZxnuM05d2BsRkHNA2RAi8yEuZc52+YGktjYCq5uF2vvtdcH/6Xzw3g8vlFV1RawAawC14Ap8B0YOuc+dDqd4/MeB2BmKopip6qqCfAa+JlS2mw0GldSSpvAL+BNSmkSY+z9kSDG+A5YBz4Dq977p5ejxhg/AT8krQOjbre7C+DqjQ/KsnwCPHLO9WvDqxjjSQjhJUBKaQA8XCwWj80sCyFsn73wQlI/y7JT4OZ8Pv9aH+0BbUk9gLIsvwC3siw7NbO+pD0zc87MBmZ2kOf5CnDUarXW6l4OgRNJhwDNZvMOcJTn+YqkfUl9SUkARVG8NbP7f9OBmd2TFLz3zy9gDCFsS9qv0Q1TSoN2uz2ZzWZ3nXN7Ndpj4MB7//4ChTONRqPry+XymaQN4DZwFZia2Tfn3NDMPnrvp5fT/eP6DVPSpxanmmvEAAAAAElFTkSuQmCC"
                                    /></span>
                                    <span class="p-c-footer">24k</span>
                                </div>
                                <div class="post-card-footer-item">
                                    <span class="footer-icon"
                                        ><img
                                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAABnklEQVQ4jcWSv2sUYRCGn9nbW+8rbLQJNqllUU5ujz0Xi/wXYhErjcHCRjvBn6iNnSAqsbIIFrZ2anNuOHaKIByCnWDKWAV2s3x3Y3NHjrDIWfl28w7f+z3DDPxvSZOpqi+BDaA1sybAmyRJbjYGqOpT4DYQzfyfdV2fzbKsBMjz3EVR9B1YnfVrM3ve7/fvzn88zPP81LLYo9HotKpWAOHMi7Is+62qliSJjMfjqKqqx2a2Dhjwzjl3L47jGiBN031VPQEQLCYnSSIAZVk+MrM4DMO+9z4FzpVl+bCJJmgygXXv/Wa3290bDAa/ptPpJnD1XwKaZIuFiCRwtAWb48/qZ8B57/2NIAik1Wq9NrNd4BWwBVwEdoBrjQTOufvAtzAMR0EQ7JjZrnPugYi8BT612+0V4AuwNSc4nEwmZ9I03f/bDKp64JxbieP4YDgcnux0OnsCUBTFExG5w9EhHdfUe78ahuE28NE596KqqltmttZ4yk0qimJNRN4DP4ALwFfg+lIBqnoJ+CAiV3q93ufF3lJrFJENM7t8/DHAH7Fin/y0I2CYAAAAAElFTkSuQmCC"
                                    /></span>
                                    <span class="p-c-footer">14</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
