.dswap-wrapper {
    margin-top: 40px;
    padding-top: 40px;
}

.dswap-card {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
}
.item-header {
    padding: 5px 10px;
}
.item-wrapper {
    display: flex;
    flex-direction: column;
}

.item {
    padding: 5px 10px;
}
.item-title {
    align-self: center;
}
.item-title-text {
    margin-bottom: 0;
}
.item-title,
.item-icon {
    font-size: 22px;
    color: #000;
}
