<template>
    <footer style="margin-top: 100px; padding-top: 70px; background: #f4f7f9;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row" style="display: flex; color:#777676;">
                        <div class="col-md-4">
                            <a href="#">
                                <img
                                    src="../../images/graylogo/logo-gray.svg"
                                    alt="logo"
                                />
                                <p class="p-footer">support@steem-engine.com</p>
                            </a>
                        </div>
                        <div class="col-md-2 col-xs-6 col-foot">
                            <h4
                                class="footer-header"
                                style="color: rgba(3, 27, 78, 0.7) !important;"
                            >
                                Support
                            </h4>
                            <ul
                                class="footer-ul"
                                style="list-style: none; padding-inline-start: 0px;"
                            >
                                <li>
                                    <a
                                        data-toggle="tooltip"
                                        title="Frequently asked questions"
                                        class="p-footer"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        route-href="route:faq"
                                        >FAQ</a
                                    >
                                </li>
                                <li>
                                    <a
                                        data-toggle="tooltip"
                                        title="Visit our blog"
                                        class="p-footer"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        href="http://steemit.com/@steem-eng"
                                        target="_blank"
                                        >Blogs</a
                                    >
                                </li>
                                <li>
                                    <a
                                        data-toggle="tooltip"
                                        title="coming soon"
                                        class="p-footer"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        >Privacy Policy</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-6 col-foot">
                            <h4
                                class="footer-header"
                                style="color: rgba(3, 27, 78, 0.7) !important;"
                            >
                                Developers
                            </h4>
                            <ul
                                class="footer-ul"
                                style="list-style: none; padding-inline-start: 0px;"
                            >
                                <li>
                                    <a
                                        data-toggle="tooltip"
                                        title="coming soon"
                                        class="p-footer"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        >Overview</a
                                    >
                                </li>
                                <li>
                                    <a
                                        data-toggle="tooltip"
                                        title="coming soon"
                                        class="p-footer"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        >Integrations</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-6 col-foot">
                            <h4
                                class="footer-header"
                                style="color: rgba(3, 27, 78, 0.7) !important;"
                            >
                                Offerings
                            </h4>
                            <ul
                                class="footer-ul"
                                style="list-style: none; padding-inline-start: 0px;"
                            >
                                <li>
                                    <a
                                        data-toggle="tooltip"
                                        title="View Tribes"
                                        class="p-footer"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        route-href="route:tribes"
                                        >Tribes</a
                                    >
                                </li>
                                <li>
                                    <a
                                        data-toggle="tooltip"
                                        title="Our Legal Services"
                                        class="p-footer"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        route-href="route:legal-services"
                                        >Legal-services</a
                                    >
                                </li>
                                <li>
                                    <a
                                        data-toggle="tooltip"
                                        title="Get ScotBot"
                                        class="p-footer"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        route-href="route:scotbot"
                                        >Scotbot</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-6 col-foot">
                            <h4
                                class="footer-header"
                                style="color: rgba(3, 27, 78, 0.7) !important;"
                            >
                                Social
                            </h4>
                            <div
                                class="social-display "
                                style="display: flex; margin: auto;"
                            >
                                <div class="social-logo">
                                    <a
                                        href="https://discord.gg/xWRYB9s"
                                        target="_blank"
                                        ><img
                                            src="../../images/discord-logo.png"
                                            alt="discord"
                                            width="30px"
                                    /></a>
                                </div>
                                <div class="social-logo">
                                    <a
                                        href="http://steemit.com/@steem-eng"
                                        target="_blank"
                                        style="padding-left: 10px;"
                                        ><img
                                            src="../../images/steemit-logo.svg"
                                            alt="discord"
                                            width="25x"
                                    /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            style="border-top: 1px solid rgb(212, 212, 212); margin-top: 30px; padding-top: 20px;"
        >
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p
                            class=""
                            style="font-size: 14px; margin-bottom: 20px;"
                        >
                            Copyright © 2019 STEEM ENGINE.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>
