.select2-dropdown,
.select2-container--default .select2-selection--multiple {
    background-color: #FFF;
    border: none;
}

.select2-dropdown .select2-results__option[aria-selected=true] {
    background-color: #EEE;
    color: #000;
    font-weight: bold;
}

.select2-results__option {
    color: #000;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background: #000;
    border: 1px solid #115e65;
    padding: 2px 10px;
}
