<template bindable="selected">
    <div class="wallet-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="wallet-header">
                    <h2 class="wallet-title">Wallets</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="wallet-desc-wrapper">
                    <p class="wallet-desc">Organize your assets into various categories for easy trading on DSwap.</p>
                </div>
            </div>
        </div>
        <div class="wallets-info-wrapper">
            <div class="row">
                <div class="col-md-6 pb-3">
                    <div class="wallet-card">
                        <div class="wallet-card-content">
                            <div class="wallet-card-text">
                                <h4 class="token-name">Bitcoin</h4>
                                <div class="token-balance">
                                    <h6 class="value-title">balance</h6>
                                    <h4 class="value balance">0 BTC</h4>
                                </div>
                                <div class="total-received">
                                    <h6 class="value-title">
                                        total received
                                    </h6>
                                    <h4 class="value">3.569 BTC</h4>
                                </div>
                            </div>
                        </div>
                        <div class="wallet-card-icon">
                            <img src="../../../images/btc.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="wallet-card">
                        <div class="wallet-card-content">
                            <div class="wallet-card-text">
                                <h4 class="token-name eth">Ethereum</h4>
                                <div class="token-balance">
                                    <h6 class="value-title">balance</h6>
                                    <h4 class="value balance">0 ETH</h4>
                                </div>
                                <div class="total-received">
                                    <h6 class="value-title">
                                        total received
                                    </h6>
                                    <h4 class="value">31.569 ETH</h4>
                                </div>
                            </div>
                        </div>
                        <div class="wallet-card-icon">
                            <img src="../../../images/eth.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pb-3">
                    <div class="wallet-card">
                        <div class="wallet-card-content">
                            <div class="wallet-card-text">
                                <h4 class="token-name eos">EOS</h4>
                                <div class="token-balance">
                                    <h6 class="value-title">balance</h6>
                                    <h4 class="value balance">0 EOS</h4>
                                </div>
                                <div class="total-received">
                                    <h6 class="value-title">
                                        total received
                                    </h6>
                                    <h4 class="value">3.569 EOS</h4>
                                </div>
                            </div>
                        </div>
                        <div class="wallet-card-icon">
                            <img src="../../../images/eos.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="wallet-card">
                        <div class="wallet-card-content">
                            <div class="wallet-card-text">
                                <h4 class="token-name hive">HIVE</h4>
                                <div class="token-balance">
                                    <h6 class="value-title">balance</h6>
                                    <h4 class="value balance">0 HIVE</h4>
                                </div>
                                <div class="total-received">
                                    <h6 class="value-title">
                                        total received
                                    </h6>
                                    <h4 class="value">31.569 HIVE</h4>
                                </div>
                            </div>
                        </div>
                        <div class="wallet-card-icon">
                            <img src="../../../images/hive.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pb-3">
                    <div class="wallet-card">
                        <div class="wallet-card-content">
                            <div class="wallet-card-text">
                                <h4 class="token-name usdt">USDT</h4>
                                <div class="token-balance">
                                    <h6 class="value-title">balance</h6>
                                    <h4 class="value balance">0 USDT</h4>
                                </div>
                                <div class="total-received">
                                    <h6 class="value-title">
                                        total received
                                    </h6>
                                    <h4 class="value">3.569 USDT</h4>
                                </div>
                            </div>
                        </div>
                        <div class="wallet-card-icon">
                            <img src="../../../images/usdt.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="wallet-card">
                        <div class="wallet-card-content">
                            <div class="wallet-card-text">
                                <h4 class="token-name steem">STEEM</h4>
                                <div class="token-balance">
                                    <h6 class="value-title">balance</h6>
                                    <h4 class="value balance">0 STEEM</h4>
                                </div>
                                <div class="total-received">
                                    <h6 class="value-title">
                                        total received
                                    </h6>
                                    <h4 class="value">31.569 STEEM</h4>
                                </div>
                            </div>
                        </div>
                        <div class="wallet-card-icon">
                            <img src="../../../images/steem.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
