<template bindable="selected">
    <div class="dswap-nav">
        <div class="logo">
            <img src="../../../images/dswap_standalone.png" class="logo-image" alt="brand_img">
        </div>
        <div class="dswap-nav-links">
            <a class="each-link" href=""><div class="small-wrap">
                <span>Send</span><img class="img-send" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAABn0lEQVRYhe2WLU/DUBSGbzEUSUgL/ALmEGiKAEWCpI5JEghoLAJ+AHoocEgmsZghaQiGEBLkQgC5QXgQO0tvun53t4Rkr2lzPu773nvuOa1SE0xQAwAL8IDNuomXgGPgiQG8OkhngV3gFvghxAswZYrUBnygDfQ10g/gTd5PTBCvAGdAVyP9Bm6AJjAHvIu9MS7SaF2HeACOgHkt1hdfpyppUl1f5QSWE/LaEndQhnQa2AKugF6krhfABmCl5DtyH770U8kiHfZrS4iG6MtufMCOyXOBvYjtUHLbecmbDFpFR0cWclLyXCCQ+H3Nfic2P68AfaEesFowJwBcsTe0co2cWNqCDnAvyY/AYoHYBc13KvZWbvIiIjLILeBZfOVGb5qINHLxr4mv2uiNE5FFLnnn4q8+emMu2ciFi8TbhO07ttGr7zpx5xJbePRm1siyrK5Sal0pFejmhPAdeV7mFZAbWd1BmdE7ThGEo/faCHmWCMLRu21UQIIIT94/gRnjAkRE9NsBZUZvRRHRFjX/15siwtxfbw4RLtD8E/J/j19UDHPD88Jh+wAAAABJRU5ErkJggg==">
            </div></a>
            <a class="each-link" href=""><div class="small-wrap">
                <span>Receive</span><img class="img-receive" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAABFklEQVRYhe2UTW7CQAxGnaqwrtSrdAM3ABZwkpyiG37uwGGQOAFcANiVC7B63Uyk0dQzTBwSlLbfKrIn/l48jkX+9WQVWhCgFbOi+OH30oZRHb2mkhqxRamOPr0D/QEAZsAFOAOTIKfKTKUVcMaVTnUAUkDJIQy5Yokmw5p1BcBQRI5e6AAMrKY5hmEL10qHV+F5yxXkAlxdaASM3fNXZwBNlarXnz3wawGy9sC9eaj2QHjO2w8f0XdThrHCBoB6+lN/gXkGtPZarqAfHcgdJsvQtdYBIFrbz7UCALyJyA5YKLmpiOyB91QBi7bVlwGli92AuXdm7mIA5aMBQoilB0HwvGza5SwBnwrkphPzCES35gGEav4NdvUl/wCRrDYAAAAASUVORK5CYII=">
            </div></a>
        </div>
        <div class="dswap-nav-options ml-auto">
            <button class="add-wallet-btn each-link" disabled="disabled">Add Wallet</button>
        </div>
    </div>
</template>
