.summary-wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 20px;
}
.collection-location {
    padding: 0;
}
.summary-image {
    width: 160px;
    height: 160px;
}
.collection-name {
    font-size: large;
    margin: 0;
}
.collection-category {
    font-size: small;
    margin: 0;
    margin-bottom: 15px;
}
.location-details {
    display: flex;
    /* justify-content: space-evenly; */
    padding: 0;
    margin-bottom: 5px;
}
.location-detail {
    list-style: none;
    color: #000;
    padding: 0 10px 0 0;
}
.watch-button {
    background: transparent!important;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: 1px solid lightgray;
    margin-top: 5px;
}
.owner-info {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.owner-info-header {
    color: #757575;
}
.owner-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px dashed #0048b3;
    align-self: center;
}
.owner-name {
    align-self: center;
    margin: 0;
    font-size: small;
}
.social {
    align-self: center;
}
.social-icon {
    width: 20px;
}
