.register-header {
    background-color: darkblue;
    padding-top: 80px;
    padding-bottom: 120px;
    background-position: 100%;
    margin: 41px 0px;
}
.title h2 {
    color: #fff;
    font-size: 36px;
    margin: 20px 0px 10px;
    padding-top: 40px;
}
.title p {
    color: #fff;
    font-size: 18px;
}

.headImg {
    position: absolute;
    bottom: -59px;
    right: -10px;
    z-index: 1;
}

.split {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
.standalone-header {
    padding: 50px 0px 0px;
}
.option-wrapper {
    color: #000 !important;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 30px;
}
.option-wrapper:hover {
    border-color: #0052cc;
    box-shadow: 0 2px 6px -4px rgba(0, 0, 0, 0.2), 0 8px 10px -4px rgba(0, 0, 0, 0.14),
        0 8px 12px 4px rgba(0, 0, 0, 0.05);
    transform: translateY(-2px);
}
.body-text {
    margin: 10px 0;
}
.fee-text {
    margin: 10px 0px 0px !important;
    color: darkblue;
}
.option-logo {
    margin-top: 10px;
}
.disclaimer-text {
    margin-top: 50px;
    margin-bottom: -20px;
    font-size: 16px;
}
.preview-card {
    background: rgb(236, 235, 235);
    padding: 10px;
    /* background-color: #fff; */
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 8px;
    box-shadow: 0 2px 4px rgba(204, 207, 216, 0.486);
    border: 1px solid #fff;
}
.preview-img {
    border-radius: 0.8rem;
}
.dashed-border-btm {
    border-bottom: 1px dashed lightgray;
}
.preview-para {
    margin-bottom: 0;
}
