.user-action-wrapper {
    margin-top: 43px;
    margin-bottom: -130px!important;
    height: 500px;
    background: #f8f9fa!important;
}
.user-action-header {
    margin: 60px auto 60px;
    font-size: 1.8rem;
    font-weight: 400;
    color: #001330;
    text-align: center!important;
}
.user-action-card {
    border-radius: 6px!important;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 0;
    background: #fff;
    padding: 40px;
    border: none;
    border-radius: .28571429rem;
    box-shadow: rgba(0,0,0,0.04) 0px 2px 4px 0px, rgba(0, 0, 0, 0.08) 0px 1px 2px 0px;
    -webkit-transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease;
}
.user-action-icon {
    width: 100%;
    height: auto;
}
