<template>
    <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="languageSelect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <font-awesome-icon icon="globe"></font-awesome-icon> ${selectedLanguage.text & t}
    </a>
    <ul class="dropdown-menu" aria-labelledby="languageSelect">
        <li class="nav-item" repeat.for="language of languages">
            <a class="nav-link" href="javascript:void(0);" click.delegate="setLanguage(language)">
            <span class="flag-icon flag-icon-squared flag-icon-${language.icon}"></span> ${language.text & t}
            </a>
        </li>
    </ul>
</template>
